pipeline/pipelineTest.json
{
	"name": "pipelineTest",
	"properties": {
		"activities": [
			{
				"name": "Set variable i",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "i",
					"value": "Hello"
				}
			},
			{
				"name": "Set variable i2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable i",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "i",
					"value": "hello2"
				}
			},
			{
				"name": "If Conditioni is Hello",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable i",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('i'),'Hello')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set variable Nada",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "s",
								"value": "Perfect"
							}
						}
					]
				}
			}
		],
		"variables": {
			"i": {
				"type": "String",
				"defaultValue": "1"
			},
			"s": {
				"type": "String",
				"defaultValue": "NADA"
			}
		},
		"folder": {
			"name": "Nacha1"
		},
		"annotations": []
	}
}